// ---------------------------------------------------------------------------------------------
//  Copyright © 2016-present Earth Computing Corporation. All rights reserved.
//  Licensed under the MIT License. See LICENSE.txt in the project root for license information.
// ----------------------------------------------------------------------------------------------
extends layout

block content
  h1= title
  p Welcome #{msg} from #{title}
